button:disabled {
	opacity: 0.8;
}

input::placeholder {
	opacity: 0.6;
}

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

.content {
	width: 100%;
	padding: 10px 20px;
}

.label__hidden {
	overflow: hidden;
	width: 0px;
	height: 0px;
}
